<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal_blue/CSM_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{128,136}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{128,136}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,390},{122,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{122,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{128,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{128,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,132},{122,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{122,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,388},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{124,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,262},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{124,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,258},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{124,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,130},{124,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{124,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,384},{120,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{120,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,386},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{120,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,386},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{122,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,386},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{122,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,386},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{124,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,386},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{124,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,260},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{126,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,262},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{126,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,262},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{126,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,256},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{126,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{128,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,256},{122,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{122,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,260},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,388},{122,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{122,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,134},{122,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{122,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{130,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{130,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{130,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{130,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,134}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{130,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,134}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{128,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{128,134}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,136}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{128,136}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{128,136}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{128,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{128,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{128,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{128,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{128,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{128,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,132},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,132},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,132},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,134},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,134},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,392},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{120,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,392},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{120,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{126,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{126,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,390},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{122,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,386},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{124,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,262},{128,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{128,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,388},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{126,124}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,130},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{124,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,128},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{126,126}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,132},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{126,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,260},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,134},{122,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{122,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,260},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,262},{124,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,134},{126,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{126,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{126,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{126,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{124,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{124,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{124,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{124,134}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{124,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{124,130}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,262},{124,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,390},{122,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{122,128}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_blue/CSM_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{128,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{128,134}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portal_blue.png</string>
            <key>size</key>
            <string>{2028,515}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf72c0ab4e4905496f60c76b8a420cb$</string>
            <key>textureFileName</key>
            <string>portal_blue.png</string>
        </dict>
    </dict>
</plist>
