<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal_red/CSM_Red_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,214},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,214},{104,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,324},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,320},{104,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{104,106}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,214},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,108},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{102,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{102,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,226},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,342},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,114},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,230},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,344},{106,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,356},{106,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{106,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{110,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{110,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{112,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{112,118}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{112,118}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{112,116}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,238},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{112,116}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{112,116}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{112,116}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{112,116}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{112,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,236},{112,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{112,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,120},{112,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{112,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,118},{110,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{110,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,116},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,230},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,116},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,350},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,350},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,350},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,116},{108,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{108,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,230},{108,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{108,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,344},{108,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{108,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,234},{108,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{108,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,118},{108,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{108,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,234},{108,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{108,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,234},{108,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{108,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,234},{110,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{110,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,118},{110,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{110,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,352},{110,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{110,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,108},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,108},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,338},{104,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{104,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,336},{104,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{106,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,226},{106,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{106,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{104,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{104,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,114},{104,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{104,110}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{104,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,114},{104,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{104,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,320},{104,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{104,106}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>portal_red/CSM_Red_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,350},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{110,112}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portal_red.png</string>
            <key>size</key>
            <string>{1682,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c2995b6caeea3099a5efaa4149509f$</string>
            <key>textureFileName</key>
            <string>portal_red.png</string>
        </dict>
    </dict>
</plist>
